/* Set the overall font and background color */
body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #FDFFFC;
    color: #011627;
    margin: 0;
    padding: 20px;
}

/* Header styling */
h2 {
    color: #2EC4B6;
    text-align: center;
}

/* Form styling */
form {
    background-color: #2EC4B6;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Label styling */
label {
    font-size: 1.1em;
    color: #011627;
    margin-bottom: 10px;
}

/* Input and select field styling */
input[type="text"],
input[type="email"],
input[type="number"],
select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Radio button styling */
input[type="radio"] {
    margin-right: 5px;
    vertical-align: middle;
}

/* Radio label styling */
label[for="small"],
label[for="medium"],
label[for="large"],
label[for="xl"],
label[for="COD"],
label[for="Gcash"] {
    margin-right: 20px;
    vertical-align: middle;
}

/* Button styling */
button {
    background-color: #011627;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    margin: 10px auto;
    width: 100%;
}

button:hover {
    background-color: #011655;
}

#result {
    background-color: #2EC4B6;
    padding: 20px;
    border-radius: 8px;
    margin: 20px auto;
    width: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

#result p {
    font-size: 1.1em;
    color: #011627;
}

#orderDetails {
    font-family: 'Courier New', Courier, monospace;
    background-color: #2EC4B6;
    font-size: 1.1em;
    color: #011627;
    width: 35%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}